.decoration-btn {
    background-color: transparent;
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    padding: 5px;
    border-radius: 30px;
    max-width: 100px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
