.road-map {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 100px 0;

    &__title {
        position: absolute;
        top: 76px;
        left: -168px;
        transform: rotate(270deg);
    }

    &__col {
        &--img-list {
            position: relative;
            margin-top: 100px;
        }
    }

    &__inner-col {
        //display: grid;
        //grid-template-columns: 1fr 2fr;
        margin-left: 150px;
    }
}
